{% extends 'base.html' %}

{% block title %}
<title>homestyle</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0zEEJhr6EhDtWAaaICA34HtYPe5pO3TVVjoOpctR6nOfHg6Z9XFEU9UEJ-2F7BlXxK9U&usqp=CAU"
                    class="card-img-top my-1" alt="..." style="width: 300px; height: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>

                </div>

                <strong class="mx-2 my-2">Price: Rs./-</strong>
                <a href=""><button class="btn btn-outline-primary mx-2 my-2">Buy Now</button></a>

            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzKbgNRNF2kcyK97Rjs8dVLd0BvqDs2qzbqmrB0JFF_h3dGzIOHevUvgN3UPhmXm9ULOE&usqp=CAU"
                    class="card-img-top my-1" alt="..." style="width: 300px; height: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>

                </div>

                <strong class="mx-2 my-2">Price: Rs./-</strong>
                <a href=""><button class="btn btn-outline-primary mx-2 my-2">Buy Now</button></a>

            </div>
        </div>
        <div class="col">
            <div class="card h-100 justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzKbgNRNF2kcyK97Rjs8dVLd0BvqDs2qzbqmrB0JFF_h3dGzIOHevUvgN3UPhmXm9ULOE&usqp=CAU"
                    class="card-img-top my-1" alt="..." style="width: 300px; height: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>

                </div>

                <strong class="mx-2 my-2">Price: Rs./-</strong>
                <a href=""><button class="btn btn-outline-primary mx-2 my-2 ">Buy Now</button></a>

            </div>
        </div>
    </div>
</div>
</section>

<!-- ::::::::::::::::::Help:::::::::::::::::: -->

<a href=""><img
        src="https://st.depositphotos.com/1005920/2016/i/450/depositphotos_20163995-stock-photo-help-blue-circle-glossy-web.jpg"
        alt="help" width="70px" height="70px" class="position-fixed bottom-0 end-0 mb-3 me-3 "></a>


{% endblock content %}